name: Cache Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-d91149a

      - name: prime-cache-d91149a
        run: echo "prime-cache-d91149a result: ${{ steps.cache-step.outputs.cache-hit }}"