name: Test Action

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 22f3001846@ds.study.iitm.ac.in
        run: echo "GitHub Action Triggered Successfully"